*{
    padding: 0;
    margin: 0;
}


#heros{
    position: relative;

}
#srh{
    left:  20px;
    position: relative;
}
.navbar{
    background: #FFDB58;
}
.nav-item{
    font-size: 15px;
    right: 20px;
    position: relative;
   padding-left: 100px;
}
.cont{
    width: 100%;
}
.ize{
    max-width: 1300px;
    margin: 0 auto;

}
.body{
    background: #719898;
}
/* .nav-item{
    /* margin-left: 60px;
} */
.buboy{
    position: relative;
    width: 130px;
    left: 10px;
}
.cdp{
    position: relative;
    bottom: 20px;
    margin-right: 300px;
    left: 130px;
    font-size: 50px;
    font-style: italic;
}
.bold{
    position: relative;
    font-size: 25px;
    font-style: italic;

}
.webs{
    position: relative;
    bottom: 457px;
    left: 558px;
    width: 779px;
} 
.pro{ 
    position: relative;
    bottom: 4px;
    width: 672px;
    right: 234px;
   

}
.bars{
    position: relative;
    width: 150px;
    left: 500px;
    bottom: 125px;
}
#ctu{
    position: relative;
    font-size: 20px;
    bottom: 520px;
    left: 600px;
    width: 150px;
    height: 50px;
    background-color: #FFDB58;
    color: #000000;

}
#lrm{
    position: relative;
    font-size: 20px;
    bottom: 520px;
    left: 700px;
    width: 150px;
    height: 50px;
    color: blue;
}
.g7{
    position: relative;
    left: 1px;
    width: 1304px;
    bottom: 286px;
    height: 822px;
}
.g8{
    bottom: 2070px;
    position: relative;
    left: 230px;
    font-style: italic;
    font-size: 20px;
    margin-right: 200px;
    color: white;
}
.cp{
    position: relative;
    padding: 50px;
    margin: 20px;
    width: 1020px;
    bottom: 2017px;
    left: 108px;
    height: 742px;
}
.g9{
    position: relative;
    width: 1000px;
    bottom: 4704px;
    left: 145px;
    margin-top: 0;
    margin-bottom: 0;
} 
.codes{
    height: 2400px;
    position: relative;
    width: 1300px;
    bottom: 2300px;
    left: 1px;
    margin-top: 0;
    margin-bottom: 0;

}
.text{
    margin-right: 500px;
    position: relative;
    left: 480px;
    bottom: 550px;
    color: white;
    font-style:italic
}
.updown7{
    position: relative;
    width: 1304px;
    bottom: 286px;
    height: 900px;
}
.desk{
    position: relative;
    padding: 50px;
    margin: 20px;
    width: 520px;
    bottom: 2157px;
    left: 350px;
    margin-top: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
}
.port{
    bottom: 2080px;
    position: relative;
    left: 520px;
    font-style: italic;
    font-size: 23px;
    margin-right: 800px;
    color: white;
}
.my{
    bottom: 2078px;
    position: relative;
    left: 500px;
    font-style: italic;
    font-size: 35px;
    margin-right: 800px;
    color: white;
}
.Abt{
    position: relative;
    bottom: 7300px;
    font-style: italic;
    color: white;
    margin-right: 300px;
    margin-top: 1px;
    margin-bottom: 1px;
    padding-bottom: 1px;
    padding-top: 1px;
}
.pics{
    position: relative;
    /* margin-top: 1000px; */
    margin-bottom: 1000px;
}
.fb{
    position: relative;
    bottom: 7600px;
    left: 200px;
}
.srv{
    position: relative;
    bottom: 1000px;
    margin-top: 0px;
    margin-bottom: 2000px;
    margin-left: 0px;
    margin-right: 0px;
}
.cisco{
    position: relative;
    width: 370px;
    bottom: 4350px;
    margin-left: 0;
    left: 30px;
}
.ice{
    bottom: 4350px;
    position: relative;
    width: 360px;
    left: 5px;
    margin: 0;
}
.yelo{
    position: relative;
    width: 385px;
    bottom: 4350px;
    left: 70px;
    margin: 0;
    border-radius: 10px;

}
.black{
    color: white;
    position: relative;
    bottom: 5550px;
    left: 400px;
    
}
.den{
    position: relative;
    font-size: 40px;
    margin-right: 700px;
    left: 150px;
}
.din{
    position: relative;
    font-size: 70px;
    margin-right: 500px;
}
.Certificates{
    position: relative;
    margin-bottom: 1000px;
}
.toha{
    position: relative;
    width: 1300px;
    bottom: 2px;
    height: 400px;
    margin-bottom: 1px;
}
.About{
    font-style: italic;
    color: white;
    margin-right: 300px;
}
.flav{
    position: relative;
    left: 540px;
    bottom: 7620px;
    font-size: 40px;
}
.ovr{
    position: relative;
    bottom: 7620px;
    left: 100px;
    font-size: 35px;
}
.dy{
    position: relative;
    bottom: 7620px;
    left: 50px;
}